body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    filter: blur(8px);
    z-index: -1; /* Mette l'immagine sfocata dietro al contenuto */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.footer {
    margin-top: auto;
}

.title {
    color: white; 
    margin-top: 100px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Mantiene il rapporto di aspetto dell'immagine */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    display: block; /* Centra l'immagine orizzontalmente */
}

.card {
    position: relative;
    box-shadow: 0 0 15px 0px blue; /* Effetto luce giallo sfocato */
}

.card .card-body {
    position: relative;
    z-index: 2; /* Porta il contenuto sopra il layer sfocato */
}

.overlay {
    position: fixed; /* Fissa l'overlay rispetto alla finestra del browser */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra orizzontalmente */
    transform: translate(-50%, -50%); /* Sposta l'overlay verso l'alto e a sinistra di metà della sua larghezza/altezza */
    z-index: 1000; /* Assicura che l'overlay sia sopra altri contenuti */
    background-color: white; /* Imposta il colore di sfondo */
    border-radius: 8px; /* Arrotonda gli angoli */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra per dare profondità */
    max-width: 150%; /* Limita la larghezza massima dell'overlay */
    width: 550px; /* Imposta una larghezza predefinita */
    max-height: 150%; /* Limita l'altezza massima dell'overlay */
    overflow-y: auto; /* Aggiunge uno scorrimento verticale se il contenuto è troppo lungo */
}


.overlay-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#overlay-sensori-table tbody tr {
    cursor: pointer;
}

#overlay-sensori-table tbody tr:hover {
    background-color: #f5f5f5;
}

#overlay-sensori-table tbody tr.selected {
    background-color: #d9534f;
    color: white;
}
