{% extends "layout.html" %}

{% block content %}
<h1 class="title">Gestione Aziende Fornitrici</h1>
    <div class="col-lg-12 form-container">
        <h2 class="title">Aziende Fornitrici</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Quantità</th>
                    <th>Note</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for azienda in aziende_fornitrici %}
                <tr data-entity="azienda_fornitrice" data-nome="{{ azienda.nome }}" data-quantita="{{ azienda.quantita }}" data-note="{{ azienda.note }}" data-link="{{ azienda.link }}">
                    <td>{{ azienda.nome }}</td>
                    <td>{{ azienda.quantita }}</td>
                    <td>{{ azienda.note }}</td>
                    <td><a href="{{ azienda.link }}" target="_blank">{{ azienda.link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="title">Gestione Aziende Fornitrici</h2>
        <form id="azienda-fornitrice-form" method="POST">
            <input type="hidden" id="old_name_azienda_fornitrice" name="old_name_azienda_fornitrice">
            <!-- First Row -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="azienda-nome-fornitrice" class="form-label" style="color: white;">Nome Azienda</label>
                    <input type="text" class="form-control" id="azienda-nome-fornitrice" name="azienda-nome-fornitrice">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-quantita-fornitrice" class="form-label" style="color: white;">Quantità</label>
                    <input type="number" class="form-control" id="azienda-quantita-fornitrice" name="azienda-quantita-fornitrice">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-note-fornitrice" class="form-label" style="color: white;">Note</label>
                    <textarea class="form-control" id="azienda-note-fornitrice" name="azienda-note-fornitrice"></textarea>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-link-fornitrice" class="form-label" style="color: white;">Link</label>
                    <input type="url" class="form-control" id="azienda-link-fornitrice" name="azienda-link-fornitrice">
                </div>
            </div>
            <!-- Buttons Row -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" id="add-azienda-fornitrice-btn" formaction="{{ url_for('firms.fornitore_add_azienda') }}" name="action" value="add">Add</button>
                <button type="submit" class="btn btn-primary" id="edit-azienda-fornitrice-btn" formaction="{{ url_for('firms.fornitore_edit_azienda') }}" name="action" value="edit">Edit</button>
                <button type="submit" class="btn btn-danger" id="remove-azienda-fornitrice-btn" formaction="{{ url_for('firms.fornitore_remove_azienda') }}" name="action" value="delete">Remove</button>
            </div>
        </form>
    </div>

    <div class="col-lg-12 form-container">
        <h2 class="title">Aziende Consulenziali</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipologia</th>
                    <th>Note</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for azienda in aziende_consulenziali %}
                <tr data-entity="azienda_consulenziale" data-nome="{{ azienda.nome }}" data-tipologia="{{ azienda.tipologia }}" data-note="{{ azienda.note }}" data-link="{{ azienda.link }}">
                    <td>{{ azienda.nome }}</td>
                    <td>{{ azienda.tipologia }}</td>
                    <td>{{ azienda.note }}</td>
                    <td><a href="{{ azienda.link }}" target="_blank">{{ azienda.link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="title">Gestione Aziende Consulenziali</h2>
        <form id="azienda-consulenziale-form" method="POST">
            <input type="hidden" id="old_name_azienda_consulenziale" name="old_name_azienda_consulenziale">
            <!-- First Row -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="azienda-nome-consulenziale" class="form-label" style="color: white;">Nome Azienda</label>
                    <input type="text" class="form-control" id="azienda-nome-consulenziale" name="azienda-nome-consulenziale">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-tipologia-consulenziale" class="form-label" style="color: white;">Tipologia</label>
                    <input type="text" class="form-control" id="azienda-tipologia-consulenziale" name="azienda-tipologia-consulenziale">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-note-consulenziale" class="form-label" style="color: white;">Note</label>
                    <textarea class="form-control" id="azienda-note-consulenziale" name="azienda-note-consulenziale"></textarea>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-link-consulenziale" class="form-label" style="color: white;">Link</label>
                    <input type="url" class="form-control" id="azienda-link-consulenziale" name="azienda-link-consulenziale">
                </div>
            </div>
            <!-- Buttons Row -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" id="add-azienda-consulenziale-btn" formaction="{{ url_for('firms.consulenza_add_azienda') }}" name="action" value="add">Add</button>
                <button type="submit" class="btn btn-primary" id="edit-azienda-consulenziale-btn" formaction="{{ url_for('firms.consulenza_edit_azienda') }}" name="action" value="edit">Edit</button>
                <button type="submit" class="btn btn-danger" id="remove-azienda-consulenziale-btn" formaction="{{ url_for('firms.consulenza_remove_azienda') }}" name="action" value="delete">Remove</button>
            </div>
        </form>
    </div>

    <div class="col-lg-12 form-container">
        <h2 class="title">Aziende Finanziatrici</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Importo</th>
                    <th>Note</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for azienda in aziende_finanziatrici %}
                <tr data-entity="azienda_finanziatrice" data-nome="{{ azienda.nome }}" data-importo="{{ azienda.importo }}" data-note="{{ azienda.note }}" data-link="{{ azienda.link }}">
                    <td>{{ azienda.nome }}</td>
                    <td>{{ azienda.importo }}</td>
                    <td>{{ azienda.note }}</td>
                    <td><a href="{{ azienda.link }}" target="_blank">{{ azienda.link }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2 class="title">Gestione Aziende Finanziatrici</h2>
        <form id="azienda-finanziatrice-form" method="POST">
            <input type="hidden" id="old_name_azienda_finanziatrice" name="old_name_azienda_finanziatrice">
            <!-- First Row -->
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="azienda-nome-finanziatrice" class="form-label" style="color: white;">Nome Azienda</label>
                    <input type="text" class="form-control" id="azienda-nome-finanziatrice" name="azienda-nome-finanziatrice">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-importo-finanziatrice" class="form-label" style="color: white;">Importo</label>
                    <input type="number" step="0.01" class="form-control" id="azienda-importo-finanziatrice" name="azienda-importo-finanziatrice">
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-note-finanziatrice" class="form-label" style="color: white;">Note</label>
                    <textarea class="form-control" id="azienda-note-finanziatrice" name="azienda-note-finanziatrice"></textarea>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="azienda-link-finanziatrice" class="form-label" style="color: white;">Link</label>
                    <input type="url" class="form-control" id="azienda-link-finanziatrice" name="azienda-link-finanziatrice">
                </div>
            </div>
            <!-- Buttons Row -->
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success" id="add-azienda-finanziatrice-btn" formaction="{{ url_for('firms.finanziatore_add_azienda') }}" name="action" value="add">Add</button>
                <button type="submit" class="btn btn-primary" id="edit-azienda-finanziatrice-btn" formaction="{{ url_for('firms.finanziatore_edit_azienda') }}" name="action" value="edit">Edit</button>
                <button type="submit" class="btn btn-danger" id="remove-azienda-finanziatrice-btn" formaction="{{ url_for('firms.finanziatore_remove_azienda') }}" name="action" value="delete">Remove</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tableRows = document.querySelectorAll("tr[data-entity]");
        
        tableRows.forEach(row => {
            row.addEventListener("click", function() {
                const entity = this.dataset.entity;
                if (entity === "azienda_finanziatrice") {
                    document.getElementById("azienda-nome-finanziatrice").value = this.dataset.nome;
                    document.getElementById("old_name_azienda_finanziatrice").value = this.dataset.nome;
                    document.getElementById("azienda-importo-finanziatrice").value = this.dataset.importo;
                    document.getElementById("azienda-note-finanziatrice").value = this.dataset.note;
                    document.getElementById("azienda-link-finanziatrice").value = this.dataset.link;
                } else if (entity === "azienda_consulenziale") {
                    document.getElementById("azienda-nome-consulenziale").value = this.dataset.nome;
                    document.getElementById("old_name_azienda_consulenziale").value = this.dataset.nome;
                    document.getElementById("azienda-tipologia-consulenziale").value = this.dataset.tipologia;
                    document.getElementById("azienda-note-consulenziale").value = this.dataset.note;
                    document.getElementById("azienda-link-consulenziale").value = this.dataset.link;
                } else if (entity === "azienda_fornitrice") {
                    document.getElementById("azienda-nome-fornitrice").value = this.dataset.nome;
                    document.getElementById("old_name_azienda_fornitrice").value = this.dataset.nome;
                    document.getElementById("azienda-quantita-fornitrice").value = this.dataset.quantita;
                    document.getElementById("azienda-note-fornitrice").value = this.dataset.note;
                    document.getElementById("azienda-link-fornitrice").value = this.dataset.link;
                }
            });
        });
    });
</script>
{% endblock %}
