{% extends "layout.html" %}

{% block content %}
    <h1 class="title">Welcome to the Aurora Rocket Launch Management System!</h1>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <!-- Prima riga di card -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/mission.png" class="card-img-top" alt="Card Image 1">
                    <div class="card-body">
                        <h5 class="card-title">Missions</h5>
                        <p class="card-text">Manage ART's missions.</p>
                        <a href="mission/missions" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/rocket.png" class="card-img-top" alt="Card Image 2">
                    <div class="card-body">
                        <h5 class="card-title">Rockets</h5>
                        <p class="card-text">Manage ART's rockets.</p>
                        <a href="/rocket/rockets" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/sensor.png" class="card-img-top" alt="Card Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Sensors</h5>
                        <p class="card-text">Manage ART's sensors.</p>
                        <a href="sensor/sensors" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <!-- Seconda riga di card -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/simulation.png" class="card-img-top" alt="Card Image 4">
                    <div class="card-body">
                        <h5 class="card-title">Simulations</h5>
                        <p class="card-text">Manage ART's simulations.</p>
                        <a href="simulation/simulations" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/parafoil.png" class="card-img-top" alt="Card Image 5">
                    <div class="card-body">
                        <h5 class="card-title">Parafoils</h5>
                        <p class="card-text">Manage ART's parafoils.</p>
                        <a href="parafoil/parafoils" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/material.png" class="card-img-top" alt="Card Image 6">
                    <div class="card-body">
                        <h5 class="card-title">Materials</h5>
                        <p class="card-text">Manage ART's materials.</p>
                        <a href="material/materials" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Terza riga di card -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/goal.png" class="card-img-top" alt="Card Image 7">
                    <div class="card-body">
                        <h5 class="card-title">Goals</h5>
                        <p class="card-text">Manage ART's goals.</p>
                        <a href="goal/goals" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/luogo.png" class="card-img-top" alt="Card Image 8">
                    <div class="card-body">
                        <h5 class="card-title">Locations</h5>
                        <p class="card-text">Manage ART's locations.</p>
                        <a href="location/locations" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/payload.png" class="card-img-top" alt="Card Image 9">
                    <div class="card-body">
                        <h5 class="card-title">Payloads</h5>
                        <p class="card-text">Manage ART's payloads.</p>
                        <a href="payload/payloads" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Quarta riga di card -->
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/firm.png" class="card-img-top" alt="Card Image 9">
                    <div class="card-body">
                        <h5 class="card-title">Sponsors</h5>
                        <p class="card-text">Manage ART's sponsors.</p>
                        <a href="firm/firms" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="../static/img/people.png" class="card-img-top" alt="Card Image 11">
                    <div class="card-body">
                        <h5 class="card-title">People</h5>
                        <p class="card-text">Manage ART's people.</p>
                        <a href="people" class="btn btn-primary">Lift off!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}
